<%= form_with(model: user) do |form| %>
  <%= render partial: "users/form/errors_summary", locals: { user: user } %>

  <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
    <div class="sm:col-span-2">
      <%= form.label :name, class: "input-label" %>
      <%= form.text_field :name, placeholder: "Jane Doe", class: "input-field" %>
      <div class="input-error-message">
        <%= error_messages(:name, user) %>
      </div>
    </div>

    <div class="sm:col-span-2">
      <%= form.label :email, class: "input-label" %>
      <%= form.text_field :email, placeholder: "janedoe@example.com", class: "input-field" %>
      <div class="input-error-message">
        <%= error_messages(:email, user) %>
      </div>
    </div>

    <div class="w-full">
      <%= form.label :phone, class: "input-label" %>
      <%= form.text_field :phone, placeholder: "+55 99 9999-9999", class: "input-field" %>
      <div class="input-error-message">
        <%= error_messages(:phone, user) %>
      </div>
    </div>

    <div>
      <%= form.label :cpf, class: "input-label" %>
      <%= form.text_field :cpf, class: "input-field" %>
      <div class="input-error-message">
        <%= error_messages(:cpf, user) %>
      </div>
    </div>
  </div>

  <div class="flex items-center space-x-4">
    <%= form.submit "Save", class: "btn-submit" %>
    <%= link_to "Cancel", users_path, class: "btn-cancel" %>
  </div>
<% end %>
