<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 table-auto">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3"> Name </th>
        <th scope="col" class="px-6 py-3"> Email </th>
        <th scope="col" class="px-6 py-3"> Phone </th>
        <th scope="col" class="px-6 py-3"> CPF </th>
        <th scope="col" class="px-6 py-3"></th>
        <th scope="col" class="px-6 py-3"></th>
      </tr>
    </thead>

    <tbody>
      <% users.each do |user| %>
        <tr class="bg-white border-b hover:bg-gray-50">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
            <%= link_to user.name, user %>
          </th>
          <td class="px-6 py-4"><%= user.email %></td>
          <td class="px-6 py-4"><%= user.phone %></td>
          <td class="px-6 py-4"><%= user.cpf %></td>
          <td class="px-6 py-4 text-right">
            <%= link_to "Edit", edit_user_path(user), class: "font-medium text-primary hover:underline" %>
          </td>
          <td class="px-6 py-4 text-right">
            <%= button_to "Destroy",
              user,
              method: :delete,
              form: { data: { turbo_confirm:  "Are you sure?" }},
              class: "font-medium text-[#EB5647] hover:underline"
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
