<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<%= form_tag users_path, method: :get, data: { turbo_frame: "search-results", turbo_action: "advance" } do |f| %>
  <%= text_field_tag "search", nil %>
  <%= submit_tag "Search" %>
<% end %>

<div id="users">
  <%= turbo_frame_tag "search-results" do %>
    <% @users.each do |user| %>
      <%= render user %>
      <p>
        <%= link_to "Show this user", user %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
